<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <a href="https://naskio-mergeui.hf.space">
        <img src="https://raw.githubusercontent.com/naskio/mergeui/main/static/brand/logo.svg"
             alt="MergeUI" style="height: 10vh;">
    </a>
    <small style="color: dimgray; margin: 2px;">
        MergeUI is a new project and any <a href="https://github.com/naskio/mergeui" target="_blank">contribution
        🤗</a> would make a difference!
    </small>
</div>