<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <img src="https://raw.githubusercontent.com/naskio/mergeui/main/static/brand/logo.svg"
         alt="MergeUI" style="height: 10vh;">
    <p style="font-size: 14px; margin-top: 1rem;">
        🤗 If you love the project, please consider starring us on
        <a href="https://github.com/naskio/mergeui" target="_blank">GitHub</a> and following us on
        <a href="https://twitter.com/naskdev" target="_blank">Twitter</a> for more 💙
    </p>
</div>