<section style="display: flex; flex-direction: column; align-items: center; justify-content: center;
    text-align: center; min-height: 40vh;">
    <img src="https://raw.githubusercontent.com/naskio/mergeui/main/static/brand/logo.svg"
         alt="MergeUI" style="max-width: 500px;">
    <h1>Everything you need to explore the secrets of merged LLMs</h1>
    <p>Discover new merged LLMs from Hugging Face, analyze their lineage and unveil the secrets of their
        incredible performance.</p>
    <p style="font-size: 14px; margin-top: 1rem;">
        🤗 Please consider starring us on
        <a href="https://github.com/naskio/mergeui" target="_blank">GitHub</a> and following us on
        <a href="https://twitter.com/naskdev" target="_blank">Twitter</a> for more 💙.
    </p>
</section>