<section style="display: flex; flex-direction: column; align-items: center; justify-content: center;
    text-align: center; min-height: 35vh;">
    <img src="https://raw.githubusercontent.com/naskio/mergeui/main/static/brand/logo.svg"
         alt="MergeUI logo" style="max-width: 500px;">
    <h1 style=" margin-top: 1rem;">Everything you need to explore the secrets of merged LLMs</h1>
    <p>Discover new merged LLMs from Hugging Face, analyze their lineage and unveil the secrets of their
        performance</p>
</section>